@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
/*@font-face{
	src:url(https://fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Udc1UAw.woff2) format('woff2');
	font-family: "Open Sans";
}*/
nav{
	background-color: #20815D;
	padding: 20px;
	text-align: center;
}

.header_link{
	padding: 10px;
	margin: 10px;
	background-color: #FF7B40;
	border-radius: 10px;
	text-decoration: none;
}
.header_link:hover{
	background-color: #FF9E73;
	transition: all 0.5s ease-out;
}
.link{
	color: #FF7B40;
}
a:visited{
	color: #A63400;
}
.title{
	text-align: center;
}
.subtitle{
	padding-left: 30px;
	border-top: 3px solid #FF4F00;
	border-bottom: 3px solid #FF4F00;
}

.title_image{
	display: inline-block;
	/*text-align: center;*/
	margin-left: 33%;
	background-color: gainsboro;
	padding: 20px;
	border-radius: 25px;
	width: 33%;
}
body{
	background-color: #20815D;
	margin: 0;
	font-family:'Open Sans', Arial, sans-serif;
}
p{
	padding-left: 5px;
	text-indent: 10px;
}

.name{
	font-weight: bold;
	text-transform: uppercase;
	color: orange;
}
.ingredients>li:hover{
background-color: #007046;
}
footer{
	border-top: 3px solid #FF4F00;
}